@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: #F5F6F8;
  --foreground: #0B1116;
  --card: #fff;
  --card-foreground: #0B1116;
  --popover: #fff;
  --popover-foreground: #5F758B;
  --primary: #fff;
  --primary-foreground: #0B1116;
  --secondary: #D7DDE2;
  --secondary-foreground: #0B1116;
  --muted: #AFBAC5;
  --muted-foreground: #5F758B;
  --accent: #7BAF96;
  --accent-foreground: #0B1116;
  --destructive: #E84E4E;
  --destructive-foreground: #0B1116;
  --border: #D7DDE2;
  --input: #AFBAC5;
  --ring: #0B1116;
  --chart-1: #E76E50;
  --chart-2: #2A9D90;
  --chart-3: #274754;
  --chart-4: #E8C468;
  --chart-5: #F4A462;
  --radius: 0.5rem;
}
.dasrk {
  --background: #0B1116;
  --foreground: #FFFFFF;
  --card: #16212C;
  --card-foreground: #fff;
  --popover: #16212C;
  --popover-foreground: #AFBAC5;
  --primary: #16212C;
  --primary-foreground: #fff;
  --secondary: #2C4258;
  --secondary-foreground: #fff;
  --muted: #37536E;
  --muted-foreground: #AFBAC5;
  --accent: #7BAF96;
  --accent-foreground: #0B1116;
  --destructive: #E84E4E;
  --destructive-foreground: #0B1116;
  --border: #2C4258;
  --input: #37536E;
  --ring: #fff;
  --chart-1: #E76E50;
  --chart-2: #2A9D90;
  --chart-3: #274754;
  --chart-4: #E8C468;
  --chart-5: #F4A462;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.carouselItem {
  width: calc(100dvw - 55px);
}

textarea {
  field-sizing: content;
  max-height: 260px;
}
